/* ********** GENERAL ********** */
* {
	margin:0 auto;
	box-sizing: border-box;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	background-image: url("../images/symphony.png");
	background-repeat:repeat;
}

/* ********* HEADER / NAV ********** */

nav.navbar-nav {
	width:100%;
	margin:0;
	margin-bottom:2%;
}

div#nav {
	position:absolute;
	top:24%;
	right:5%;
	z-index: 5;
}

h1 {
	font-weight: bold;
	letter-spacing: 1.5px;
	position:relative;
	left:14%;
	font-size: 55px;
	z-index: 2;
}

li {
	border-style: solid;
	border-width: 0px 1.5px 0px 0px;
	border-color: #bf5b94;
	float:left;
	text-align:center;

	padding:0px 18px 0px 12px;
}

li:last-child {
	border-width: 0px;
}

/* ********** FOOTER ********** */

div#footer {
	position: absolute;
	right:0;
	left:0;
	width:100%;
	height:90px;
	padding:3% 2%;

	color:#ffffff;
	background-color: #525253;
	border-style:solid;
	border-color:#bf5b94;
	border-width: 8px 0px 0px 0px;

	text-align: center;
}

/* ********** TEXT ********** */

h2 {
	font-size:40px;
}

h3 {
	font-size:25px;
}

h2#about {
	border-style:solid;
	border-color: #bf5b94;
	border-width: 0px 0px 2px 0px;
	padding: 2% 0px 2% 0px;
}

h2#portfolio {
	border-style:solid;
	border-color: #bf5b94;
	border-width: 0px 0px 2px 0px;
	padding: 2% 0px 2% 0px;
}

h2#contact {
	border-style:solid;
	border-color: #bf5b94;
	border-width: 0px 0px 2px 0px;
	padding: 2% 0px 2% 0px;
}

h3#connect {
	border-style:solid;
	border-color: #bf5b94;
	border-width: 0px 0px 2px 0px;
	padding: 2% 0px 2% 0px;
	width:79%;
}

h3#portname {
	color:#ffffff;
	background-color: #bf5b94;
	text-align: center;
	font-size: 16px;

	padding:23px 0px 23px 0px;
	width:100%;

	display:inline-block;
	float:left;
}

/* ********** IMAGES ********** */
img#profilepic {
	width:30%;
	float:left;
	padding:32px 25px 25px 25px;
}

img.social {
	width:27%;
	padding:3% 1% 0px 1%;
	margin:2%;
}


/* ********** DIV#MAIN ********** */
div#main {

	width:55%;
	margin-top:1%;
	margin-left:5%;
	
	border-style: solid;
	border-color:#bf5b94;
	border-width: 2px 2px 2px 2px;
	padding:35px;
	margin-bottom:144px;
	background-color: #ffffff;
}

/* ********** DIV#SIDEBAR ********** */
div#sidebar {

	width:27%;
	margin-top:1%;
	margin-left:5%;
	
	border-style: solid;
	border-color:#bf5b94;
	border-width: 2px 2px 2px 2px;
	padding:2%;
	margin-bottom:144px;
	background-color: #ffffff;
}

/* ********** FORMS ********** */
button#submit {
	height:50px;
	width:120px;
}

/* ********** RESPONSIVE DESIGN *********** */
@media screen and (max-width:430px) {

	/* --- HEADER/NAV -- */

	h1 {
		left:12%;
	}

	div#nav {
		position: relative;
		width:100%;
		margin:0 auto;
		top:2%;
		left:5%;
		margin:2%;
	}

	/* --- DIV#MAIN --- */
	
	div#main {

		width:93%;
		margin-top:5%;
		margin-left:6%;
		margin-right: 3%;
		margin-bottom:5%;

	}

	img#profilepic {
		width:90%;
		margin-left:5%;
		display: block;
	}

	div#main p {
		display: block;
		float: left;
	}

	/* --- DIV#SIDEBAR ---*/
	div#sidebar {

		width:93%;
		margin-left:6%;
		margin-right:1%;
	}

}

@media screen and (min-width: 431px) and (max-width: 640px) {

	/* --- HEADER/NAV -- */

	h1 {
		left:28%;
	}

	div#nav {
		position: relative;
		width:100%;
		margin:0 auto;
		top:2%;
		left:21%;
		margin:2%;


	}

	/* --- DIV#MAIN --- */
	div#main {

		width:93%;
		margin-top:5%;
		margin-left:6%;
		margin-right: 3%;
		margin-bottom:5%;

	}

	img#profilepic {
		width:90%;
		margin-left:5%;
		display: block;
	}

	div#main p {
		display: block;
		float: left;
	}

	/* --- DIV#SIDEBAR ---*/
	div#sidebar {

		width:93%;
		margin-left:6%;
		margin-right:1%;
	}
}

@media screen and (min-width: 641px) and (max-width: 768px) {

	/* --- HEADER/NAV --- */

	h1 {
		left:32%;
	}

	div#nav {
		position: relative;
		width:80%;
		margin:0 auto;
		top:2%;
		margin:2%;


	}

	/* --- DIV#MAIN --- */

	div#main {

		width:93%;
		margin-top:5%;
		margin-left:6%;
		margin-right: 3%;
		margin-bottom:5%;

	}

	img#profilepic {
		width:90%;
		margin-left:5%;
		display: block;
	}

	div#main p {
		display: block;
		float: left;
	}

	/* --- DIV#SIDEBAR --- */

	div#sidebar {

		width:93%;
		margin-left:6%;
		margin-right:3%;
	}
}

@media screen and (min-width: 769px) and (max-width: 979px) {
	
	/* --- HEADER/NAV --- */

	h1 {
		left:12%;
	}

	div#nav {
		width:100%;
		margin:0 auto;
		top:2%;
		margin:2%;

	}

	/* --- DIV#MAIN --- */

	div#main {

		width:93%;
		margin-top:5%;
		margin-left:6%;
		margin-right: 3%;
		margin-bottom:5%;

	}

	/* --- DIV#SIDEBAR --- */

	div#sidebar {
		display: block;
		float:left;

		width:93%;
		margin-left:6%;
		margin-right:1%;
	}

}

@media screen and (min-width: 980px) and (max-width: 1106px) {

	/* --- HEADER/NAV --- */

	h1 {
		left:12%;
	}

	div#nav {
		width:100%;
		margin:0 auto;
		top:2%;
		margin:2%;

	}

	/* --- DIV#SIDEBAR --- */

	div#sidebar {

		display: block;
		float:left;

		width:30%;

	}

}
